{% extends "base.html" %} {% block title %}معاملة جديدة{% endblock %} {% block content%}
{% if 'loggedin' in session  %}
<br>
<div class="row">  
    <div class="col-1">

    </div>
    <div class="col-10">            
        <div class="row">  
            <div class="col-5">
                <img src="{{ url_for('static', filename='ScanImg.jpg') }}" class="img-thumbnail" alt="...">
            </div>
            <div class="col-4 border mb-2">
                <br>
                <div class="row">
                    <div class="col-5" dir="rtl">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
                            <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                            <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z"/>
                            <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                          
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </div>
                    <div class="col-7">
                        <div class="form-group text-right">                
                            <input
                            type="text"
                            class="form-control"
                            id="userName"
                            name="userName"                            
                            />
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-3 border mb-2">
                <br>
                <div class="form-group text-right">
                    
                    <select class="form-select text-right" aria-label="Default select example" name="jobPosition" id="jobPosition">                    
                    {% if session['proCode'] == 12%}
                        <option selected>أختر نوع التوكيل من القائمة أدناه</option>
                    {% endif %}    
                    <option value="1">قنصل عام</option>
                    <option value="2">نائب قنصل</option>
                    <option value="3">إداري</option>
                    <option value="4">مدير مالي</option>      
                    <option value="5">محاسب</option>
                    <option value="6">موظف محلي</option>            
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>
        {% endif %}
        {% endblock %}
