{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<div class="container">
  <br>
  <form method="POST">    
    <h3 align="center">تسجيل حساب جديد</h3>
    <br>
    <div class="row">
      <div class="col">
        <div class="form-group text-right">
          <label for="engName">الاسم باللغة الانجليزية</label>
          <input
            type="text"
            class="form-control"
            id="engName"
            name="engName"
            placeholder="ادخل الاسم كاملا باللغة الانجليزية"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group text-right">
          <label for="arabName">الاسم باللغة العربية</label>
          <input
            type="text"
            class="form-control  text-right"
            id="arabName"
            name="arabName"
            placeholder="ادخل الاسم كاملا باللغة العربية"
          />
        </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group text-right">
          <label for="sexOption">النوع</label>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexOption" id="sexOption1" value="أنثى">
            <label class="form-check-label" for="sexOption1">أنثى</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexOption" id="sexOption2" value="ذكر" checked>
            <label class="form-check-label" for="sexOption2">ذكر</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group text-right">
          <label for="text">الوظيفة</label>
          <select class="form-select text-right" aria-label="Default select example" name="jobPosition" id="jobPosition">
            <option selected>أختر من القائمة أدناه</option>
            <option value="1">قنصل عام</option>
            <option value="2">نائب قنصل</option>
            <option value="3">إداري</option>
            <option value="4">مدير مالي</option>      
            <option value="5">محاسب</option>
            <option value="6">موظف محلي</option>            
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group text-right">
          <label for="userName">الاسم المختصر</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            placeholder="ادخل اسم المستخدم"
          />
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group text-right">
          <label for="password2">تاكيد كلمة السر</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="أعد كتابة كلمة السر"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group text-right">
          <label for="password1">كلمة السر</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="قم بكتابة كلمة السر الخاصة بك"
          />
        </div>
      </div>    
    </div>    
    <br />
    <button type="submit" class="btn btn-secondary">تسجيل</button>
  </form>
</div>
{% endblock %}
